/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  align-items: center;
  color: var(--google-grey-700);
  display: flex;
  flex-direction: column;
  font-size: 100%;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

@keyframes slideUpContent {
  from {
    transform: translateY(120px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


@keyframes fadeInAndSlideUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
}

@keyframes fadeOutAndSlideUp {
  to {
    height: 0;
    opacity: 0;
    transform: translateY(-8px);
  }
}

@keyframes spin {
  from {
    transform: rotate(1440deg) scale(0.8);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(.8);
  }
}

@keyframes colorize {
  from {
    filter: grayscale(100%) brightness(128%) contrast(20%) brightness(161%);
    opacity: .6;
  }
}

@keyframes bounce {
  0% {
    transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.61% {
    transform: matrix3d(0.907, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.41% {
    transform: matrix3d(0.948, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  15.12% {
    transform: matrix3d(0.976, 0, 0, 0, 0, 0.976, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    transform: matrix3d(0.996, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.72% {
    transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  30.23% {
    transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50.25% {
    transform: matrix3d(1.003, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  70.27% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.content {
  height: 100%;
  overflow-y: hidden;
}

.slider {
  align-items: center;
  animation: slideUpContent 600ms 3s cubic-bezier(.4, .2, 0, 1) both;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.heading-container {
  animation: fadeInAndSlideUp 1s 600ms cubic-bezier(.4, .2, 0, 1) both;
  color: var(--paper-grey-800);
  font-size: 2.5em;
  height: 1em;
  line-height: 1em;
  margin-bottom: 0.25em;
  margin-top: 1.5em;
}

.heading {
  animation: fadeOutAndSlideUp 600ms 2.6s cubic-bezier(.4, .2, 0, 1) forwards;
}

.second-heading {
  animation: fadeInAndSlideUp 600ms 3s cubic-bezier(.4, .2, 0, 1) both;
  font-size: 0.6em;
}

.logo {
  animation: fadeIn 600ms both, bounce 1s 600ms linear both;
  height: 96px;
  position: relative;
  width: 96px;
}

.logo-icon {
  animation: spin 2.4s cubic-bezier(.4, .2, 0, 1) both,
             colorize 300ms 700ms linear both;
  background-image: -webkit-image-set(url(chrome://welcome/logo.png) 1x,
                                      url(chrome://welcome/logo2x.png) 2x);
  background-size: 100%;
  height: 96px;
  width: 96px;
}

.signin {
  animation: fadeInAndSlideUp 600ms 3s cubic-bezier(.4, .2, 0, 1) both;
}

.signin-description {
  font-size: 1em;
  line-height: 1.725em;
  max-width: 344px;
}

.signin-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: .8125em;
  font-weight: 500;
  justify-content: space-between;
  margin-top: 2.5em;
  text-transform: uppercase;
}

#accept-button {
  -webkit-font-smoothing: antialiased;
  background: var(--google-blue-500);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  color: white;
  line-height: 2.25rem;
  padding: 0 2em;
  transition: 300ms cubic-bezier(.4, .2, 0, 1);
  will-change: box-shadow;
}

#accept-button:hover {
  background: var(--paper-blue-a400);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .24);
}

#accept-button:active {
  background: var(--google-blue-500);
}

#accept-button.keyboard-focus {
  background: var(--google-blue-700);
}

#decline-button {
  color: var(--paper-grey-800);
  display: inline-block;
  margin: 1.5em;
  text-decoration: none;
}

.watermark {
  -webkit-mask-image: url(chrome://welcome/watermark.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  animation: fadeIn 1s cubic-bezier(0, 0, .2, 1) both;
  background: var(--paper-grey-400);
  bottom: 24px;
  height: 24px;
  position: absolute;
  width: 74px;
}

@media(max-height: 608px) {
  .watermark {
    display: none;
  }
}
