[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
[access "refs/pending-tags/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/tags/*"]
	create = group chromium-branch-creators
	push = group chromium-branch-creators
	forgeAuthor = group chromium-branch-creators
	forgeCommitter = group chromium-branch-creators
[access "refs/heads/*"]
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
