[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
[access "refs/pending-tags/*"]
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/tags/*"]
	create = group chromium-branch-creators
	push = group chromium-branch-creators
	forgeAuthor = group chromium-branch-creators
	forgeCommitter = group chromium-branch-creators
[access "refs/heads/*"]
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/subtree-processed/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/subtree-synthesized/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/gsubtreed-config/main"]
	create = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
[access "refs/branch-heads/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/pending/*"]
	push = group chrome-infra-team
