[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
	submit = group mdb/chrome-git-admins
[access "refs/pending-tags/*"]
	forgeAuthor = group chromium-branch-creators
	forgeAuthor = group git-numbering-bot
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group chromium-branch-creators
	forgeCommitter = group git-numbering-bot
	forgeCommitter = group mdb/chrome-git-admins
	push = group chromium-branch-creators
	push = group git-numbering-bot
	push = +force group mdb/chrome-git-admins
	create = group chromium-branch-creators
	create = group mdb/chrome-git-admins
[access "refs/tags/*"]
	create = group chromium-branch-creators
	push = group chromium-branch-creators
	forgeAuthor = group chromium-branch-creators
	forgeCommitter = group chromium-branch-creators
[access "refs/heads/*"]
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/gsubtreed-config/main"]
	create = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
	submit = group mdb/chrome-git-admins
[access "refs/branch-heads/*"]
	create = group chromium-branch-creators
	create = group git-numbering-bot
	forgeAuthor = group chromium-branch-creators
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group chromium-branch-creators
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
	push = +force group mdb/chrome-git-admins
[access "refs/pending/*"]
	push = group chrome-commit-bot
	push = group chromeos-bots
	push = group chromium-branch-creators
	push = group chromium-committers
	push = +force group mdb/chrome-git-admins
	push = group mdb/chrome-pmo
	create = group chromium-branch-creators
	create = group mdb/chrome-git-admins
	forgeAuthor = group chromium-branch-creators
	forgeAuthor = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-pmo
	forgeCommitter = group chromium-branch-creators
	forgeCommitter = group mdb/chrome-git-admins
[access "refs/heads/ignore/foo"]
	forgeAuthor = group chromium-branch-creators
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group chromium-branch-creators
	forgeCommitter = group mdb/chrome-git-admins
	push = group chromium-branch-creators
	push = group mdb/chrome-git-admins
	pushMerge = group chromium-branch-creators
	pushMerge = group mdb/chrome-git-admins
[access "refs/for/refs/heads/ignore/foo"]
	pushMerge = group chromium-branch-creators
	pushMerge = group mdb/chrome-git-admins
[access "refs/experimental/*"]
	read = group Administrators
	read = group Anonymous Users
	read = group Registered Users
	read = group chromium-committers
[access "refs/experimental/${username}/*"]
	create = group chromium-committers
	forgeAuthor = group chromium-committers
	forgeCommitter = group chromium-committers
	push = +force group chromium-committers
	pushMerge = group chromium-committers
[access "refs/ios/*"]
	read = group mdb/bling-git-admins
	read = group mdb/bling-git-committers
	create = group mdb/bling-git-admins
	create = group mdb/bling-git-committers
	push = group mdb/bling-git-admins
	push = group mdb/bling-git-committers
	pushMerge = group mdb/bling-git-admins
	pushMerge = group mdb/bling-git-committers
[access "refs/for/refs/ios/*"]
	pushMerge = group mdb/bling-git-admins
	pushMerge = group mdb/bling-git-committers
[access "refs/ios/${username}/*"]
	read = group mdb/bling-git-admins
	read = group mdb/bling-git-committers
	push = +force group mdb/bling-git-admins
	push = +force group mdb/bling-git-committers
	pushMerge = group mdb/bling-git-admins
	pushMerge = group mdb/bling-git-committers
[access "refs/for/refs/experimental/${username}/*"]
	pushMerge = group chromium-committers
[plugin "git-numberer"]
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/branch-heads/*
