// Copyright 2017 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <string>
#include <vector>

namespace language {
namespace internal {
std::vector<std::pair<uint32_t, char>>
GenerateDistrictLanguageMapping() {
  return {
  {% set c = 1 %}
  {% for cell_lang_pair in cell_lang_pairs -%}
    { {{cell_lang_pair[0]}}u, {{cell_lang_pair[1]}}}{% if c < cell_lang_pairs|length%},{% endif %}
    {% set c = c + 1%}
  {%- endfor %}
  };
}

std::vector<std::pair<char, std::string>>
GenerateLanguageEnumCodeMapping() {
  return {
  {% set c = 1 %}
  {% for language_code_enum in language_code_enums -%}
    { {{language_code_enum[1]}}, "{{language_code_enum[0]}}"}{% if c < language_code_enums|length%},{% endif %}
    {% set c = c + 1%}
  {%- endfor %}
  };
}

}  // namespace internal
}  // namespace language
