/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#illustration-container {
  background: red;
  height: 202px;
  width: 100%;
}

#heading {
  border-bottom: 1px solid var(--paper-grey-50);
  color: var(--paper-grey-800);
  font-weight: normal;
  margin-bottom: 40px;
  padding-bottom: 5px;
  text-align: center;
}

.message-container {
  color: var(--paper-grey-800);
  display: flex;
  line-height: 20px;
  margin-bottom: 16px;
  padding: 0 24px;
}

.footer::before {
  border-top: 1px solid var(--paper-grey-300);
  content: '';
  display: block;
  height: 1;
  margin: 24px 0 24px 56px;
}

.footer .message-container {
  color: var(--paper-grey-600);
}

.message-container .logo {
  -webkit-margin-end: 16px;
  background-size: cover;
  flex-shrink: 0;
  height: 16px;
  margin-top: 2px;
  position: relative;
  width: 16px;
}

#sync-logo {
  background-image: -webkit-image-set(url(../../../../../ui/webui/resources/images/ic_sync-complete-ciricle.png) 1x,
                                      url(../../../../../ui/webui/resources/images/2x/ic_sync-complete-ciricle.png) 2x);
}

#personaize-logo {
  background-image: -webkit-image-set(url(../../../../../ui/webui/resources/images/ic_assistant.png) 1x,
                                      url(../../../../../ui/webui/resources/images/2x/ic_assistant.png) 2x);
}

#googleg-logo {
  background-image: -webkit-image-set(url(../../../../../ui/webui/resources/images/ic_google.png) 1x,
                                      url(../../../../../ui/webui/resources/images/2x/ic_google.png) 2x);
}

#settings-logo {
  background-image: -webkit-image-set(url(../../../../../ui/webui/resources/images/ic_setting.png) 1x,
                                      url(../../../../../ui/webui/resources/images/2x/ic_setting.png) 2x);
}

paper-button {
  padding-left: 16px;
  padding-right: 16px;
}

#undoButton {
  -webkit-margin-start: 16px;
}